{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align">Add Recipe</h3>

<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <select id="category" name="recipe_category">
                    <option value="" disabled selected>Choose your option</option>
                    {% for cat in categories %}
                    <option value="{{cat.recipe_categoty}}">{{cat.recipe_category}}</option>
                    {% endfor %}
                    <label>Materialize Select</label>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                <input id="category" name="recipe_category" type="text" class="validate">
                <label for="icon_prefix">Recipe Category</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate">
                <label for="icon_prefix">Recipe Name</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate">
                <label for="icon_telephone">Recipe Ingredients</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                <input id="recipe_directions" name="recipe_directions" type="text" class="validate">
                <label for="icon_telephone">Recipe Directions</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                <i class="material-icons right">playlist_addd</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}