{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
  {% for recipe in recipes %}
  <li>
    <div class="collapsible-header"><i class="material-icons">expand_more</i>
      <strong>{{recipe.category_name}} - {{recipe.soup_name}}</strong>
    </div>
    <div class="collapsible-body">
      <span>
        {{recipe.soup_ingredients}}<br><br> {{recipe.soup_directions}}
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">expand_more</i>
      <strong>{{recipe.category_salmon}} - {{recipe.salmon_name}}</strong>
    </div>
    <div class="collapsible-body">
      <span>
        {{recipe.salmon_ingredients}}<br><br> {{recipe.salmon_directions}}
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  {% endfor %}
</ul>

{% endblock %}